@model Dictionary<string, Dictionary<string, List<object>>>

@{
    ViewData["Title"] = "Formulário de Vacinas";
}

<h1 class="mb-4">Formulário de Vacinas</h1>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["msg"]
    </div>
}

@foreach (var categoria in Model)
{
    <div class="mb-4">
        <h2 class="bg-primary text-white p-2">@categoria.Key</h2>
        <div class="row">
            @foreach (var tipo in categoria.Value)
            {
                <div class="col-md-6">
                    <h3 class="bg-secondary text-white p-2">@tipo.Key</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Dose</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (FormVacina vacina in tipo.Value)
                            {
                                <tr>
                                    <td>@vacina.Nome</td>
                                    <td>@vacina.Descricao</td>
                                    <td>@vacina.Dose</td>
                                    <td class="status-cell">
                                        <input type="checkbox" name="StatusVacinas[@tipo.Key][@vacina.Id]" @(vacina.Status ? "checked" : "") />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
}
<div class="d-flex justify-content-between">
    <a asp-controller="Usuario" asp-action="Index" class="btn btn-light">Voltar</a>
    <form id="formAtualizar" method="post" action="/StatusVacina/AtualizarStatus">
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.status-cell').click(function () {
                var checkbox = $(this).find('input[type="checkbox"]');
                checkbox.prop('checked', !checkbox.prop('checked'));
            });

            $('#formAtualizar').submit(function (e) {
                e.preventDefault();

                var statusVacinas = {};

                $('.status-cell input[type="checkbox"]').each(function () {
                    var checkbox = $(this);
                    var status = checkbox.prop('checked');
                    var tipoKey = checkbox.attr('name').split('[')[1].split(']')[0];
                    var vacinaId = checkbox.attr('name').split('[')[2].split(']')[0];

                    if (!statusVacinas[tipoKey]) {
                        statusVacinas[tipoKey] = {};
                    }

                    statusVacinas[tipoKey][vacinaId] = status;
                });

                $.ajax({
                    type: 'POST',
                    url: '/StatusVacina/AtualizarStatus',
                    data: { statusVacinas: statusVacinas },
                    success: function () {
                        console.log('Dados atualizados com sucesso!');

                        window.location.href = '/Usuario/Index';
                    },
                    error: function () {
                        console.log('Erro ao enviar dados.');
                    }
                });

            });
        });
    </script>
}


